%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: 'button',
                             'data-toggle' => 'collapse',
                             'data-target' => '#main-navbar-collapse' }
        %span.sr-only Colapsar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Paya Hotels', root_path, class: 'navbar-brand'

    #main-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: active_if(controller: 'reservations') }
          = link_to 'Reservas', reservations_path
        %li{ class: active_if(controller: 'calendars') }
          = link_to 'Planning', calendars_path
        - unless params[:controller] == 'reservations' && params[:action] == 'new'
          %li
            = link_to 'Nueva Reserva', new_reservation_path
