= simple_form_for @reservation, html: { class: 'form-horizontal' },
                  wrapper: :horizontal_form  do |f|

  = f.error_notification

  .form-inputs
    = f.input :code
    = f.input :channel, collection: Reservation::CHANNELS, include_blank: false
    = f.input :name

    #rentals
      = f.simple_fields_for :rentals do |rental|
        = render 'rental_fields', f: rental

      = link_to_add_rental 'Añadir Unidad', f

    = f.input :price, as: :string

  .form-actions
    = f.button :submit
