- reservation = rental.reservation
%tr
  %td= i == 0 ? link_to(reservation.code, reservation) : ''
  %td= i == 0 ? reservation.channel : ''
  %td= i == 0 ? reservation.name : ''
  %td= rental.location.name
  %td= rental.room.category.name
  %td= rental.arrival
  %td= rental.departure
  %td= rental.days
  %td= rental.adults
  %td= rental.children
  %td= rental.babies
  %td= i == 0 ? reservation.price : ''
  %td= i == 0 ? link_to('', reservation,
                        id: "delete-#{reservation.id}",
                        class: 'glyphicon glyphicon-remove', method: :delete,
                        data: { confirm: 'Estás segur@?' }) : ''

  %td= i == 0 ? link_to('', edit_reservation_path(reservation),
                        id: "edit-#{reservation.id}",
                        class: 'glyphicon glyphicon-pencil') : ''
