-# FIXME: This is very thightly coupled to simple_form's code
.rental
  %span.form-group
    %label.col-sm-4.control-label
      Alojamiento
    .col-sm-3
      = f.input_field :location, collection: Location.all, include_blank: false
    .col-sm-3
      = f.input_field :category, collection: f.object.category.location.categories,
                      include_blank: false
    .col-sm-2
      = f.input_field :quantity, as: :select, collection: 1..5, value: 1,
                      include_blank: false

  %span.form-group
    %label.col-sm-4.control-label Llegada/Salida
    .col-sm-4
      = f.input_field :arrival, as: :string

    .col-sm-4
      = f.input_field :departure, as: :string

  %span.form-group
    %label.col-sm-4.control-label Adultos/Niños/Bebes

    .col-sm-2
      = f.input_field :adults, as: :select, collection: 1..5, value: 2, include_blank: false

    .col-sm-2
      = f.input_field :children, as: :select, collection: 0..5, value: 0, include_blank: false

    .col-sm-2
      = f.input_field :babies, as: :select, collection: 0..5, value: 0, include_blank: false

  - unless f.object.reservation.rentals.size <= 1
    %span.form_group
      = f.hidden_field :_destroy
      = link_to '', '#', class: 'glyphicon glyphicon-remove remove-fields'
