%table.table.table-striped.reservations
  %thead
    %tr
      %th Localizador
      %th Canal
      %th Nombre
      %th Hotel
      %th Habitación
      %th Llegada
      %th Salida
      %th Días
      %th Adultos
      %th Niños
      %th Bebes
      %th Precio
      %th
      %th

  %tbody
    - @reservations.each do |reservation|
      - reservation.rentals.each_with_index do |rental, index|
        = render partial: 'rental', object: rental, locals: { i: index }

%ul.pager
  %li.previous= link_to_previous_page @reservations, 'Página Anterior'
  %li.next= link_to_next_page @reservations, 'Página Siguiente'
