.panel.panel-success
  .panel-heading
    .panel-links
      =link_to('', @reservation,
                   id: "delete-#{@reservation.id}",
                   class: 'glyphicon glyphicon-remove', method: :delete,
                   data: { confirm: 'Estás segur@?' })

      =link_to('', edit_reservation_path(@reservation),
                   id: "edit-#{@reservation.id}",
                   class: 'glyphicon glyphicon-pencil')
    .panel-title= "Reserva #{@reservation.id}"

  .panel-body
    %p
      %b Localizador:
      = @reservation.code

    %p
      %b Canal:
      = @reservation.channel

    %p
      %b Nombre:
      = @reservation.name

    %table.table
      %thead
        %tr
          %th
          %th Hotel
          %th Habitación
          %th Llegada
          %th Salida
          %th Adultos
          %th Niños
          %th Bebés

      %tbody
        - @reservation.rentals.each_with_index do |rental, i|
          %tr
            %td.header
              %b= "Alojamiento #{i > 0 ? i + 1 : ''}"
            %td= rental.location.name
            %td= rental.category.name
            %td= rental.arrival
            %td= rental.departure
            %td= rental.adults
            %td= rental.children
            %td= rental.babies

    %p
      %b Precio:
      = @reservation.price
