@import 'bootstrap/variables';
@import 'bootstrap/mixins';

table.calendar > tbody > tr > td, table.calendar > tbody > tr > th {
  line-height: 1;
}

table.calendar > tbody > tr > td {
  text-align: center;
}

/* Color codes for the different channels */
.paya {
  @extend .reservation;
  background-color: #fe2e2d;
}

.booking {
  @extend .reservation;
  background-color: #ffff00
}

.fhg {
  @extend .reservation;
  background-color: #ffc000;
}

.fweb {
  @extend .reservation;
 background-color: #99cc00;
}

.its {
  @extend .reservation;
  background-color: #8064a2;
}

.bodas {
  @extend .reservation;
  background-color: #4bacc6;
}

.frooms {
  @extend .reservation;
  background-color: #974605;
}

.islamar {
  @extend .reservation;
  background-color: #528dd5;
}

.paya-online {
  @extend .reservation;
  background-color: #ff6666;
}

.europlayas {
  @extend .reservation;
  background-color: #fcd5b4;
}

.flibre {
  @extend .reservation;
  background-color: #948a53;
}

.trasmapi {
  @extend .reservation;
  background-color: #b7dee8;
}

.jumbo-tours {
  @extend .reservation;
  background-color: #808080;
}

.fnatural {
  @extend .reservation;
  background-color: #00b050;
}

.agencias {
  @extend .reservation;
  background-color: #00b0f0;
}

.roulette {
  @extend .reservation;
  background-color: #632a8d;
}

.thomascook {
  @extend .reservation;
  background-color: #ffff99;
}

.primera-viaggi {
  @extend .reservation;
  background-color: #d6ebff;
}

.formentera-online {
  @extend .reservation;
  background-color: #ffffa3;
}
