@import 'bootstrap/variables';
@import 'bootstrap/mixins';

table.table {
  a {
    color: black;
  }
}

table.reservations > tbody > tr > td, table.reservations > thead > tr > th {
  text-align: center;
  padding: 6px;
}

td.header, th.header {
  text-align: right;
}

.simple_form div.form-group {
  @include make-row();
  margin-top: 10px;
  margin-bottom: 10px;
}

.simple_form div.form-group input, .simple_form span.form-group select {
  width: 100%;
}

.simple_form #rentals {
  margin-left: 0;
  @include make-sm-column-offset(3);
  @include make-sm-column(9);
  float: none !important;
  display: block;
}

.simple_form .rental {
  border: 1px solid #C0C0C0;
  border-radius: 4px;
}

.remove-fields {
  float: right;
  color: black;
  margin-right: 5px;
}

.reservation {
  border: 2px solid #ddd;
}

.panel-links {
  float: right;
}
