- id = "reservation_rentals_attributes_#{params['rental_id']}_category"
$("select##{id}").html("#{escape_javascript(options_from_collection_for_select(@location.categories, :id, :name, @location.categories.first))}")
