!!!

%html{lang: :es}
  %head
    %title Paya Hotels
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width', name: 'viewport' }
    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    = render 'shared/header'

    %div{ class: 'container' }
      = render partial: 'shared/flash_messages', flash: flash
      = yield
